    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <!--<a id="forkme_banner" href="https://github.com/vasileionita/api.harcourts.github.io">View on GitHub</a>-->
          <ul class="project_tagline">
            <li><a href="../">Home</a></li>
            <li>
              <a href="../whats-new/">What's New</a>
            </li>
            <li>
              <a href="../whats-new/">New</a>
            </li>
            <li><a href="../testPage">Get Started</a></li>
          </ul>

          <h1 id="project_title">Harcourts API</h1>
          <h2 id="project_tagline">Harcourts api documentation</h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/vasileionita/api.harcourts.github.io/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/vasileionita/api.harcourts.github.io/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>
